.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  padding-bottom: 30px;

  overflow-x: hidden;

  background: #fff;

  filter: blur(var(--blur));
  transition: filter 0.25s;
  transition-timing-function: ease-out;
}

.imageWrapper {
  display: flex;
  flex-direction: column;

  width: 50vw;
}

.photo {
  border-radius: 2px;
}

.imageText {
  margin-top: 6px;
  margin-bottom: -20px;

  text-align: center;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(50vw - 35px);
  width: 50vw;
  height: 36.9vw;
}

.text, .mobileText {
  max-width: 1500px;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  font-size: clamp(18px, 35px, 1.75vw);

  line-height: 2;

  color: #1D1F20;
}

.lastLine {
  line-height: 3;
}

.mobileText {
  display: none;
}

/* Mobile */
@media (max-width: 1000px) {
  .section {
    flex-direction: column;
    height: auto;
  }
  .photo {
    width: 100vw !important;
    height: 50vw !important;
    object-fit: cover;
  }
  .imageText {
    margin-bottom: 25px;
    font-size: 15px;
  }
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    width: auto;
  }
  .text {
    display: none;
  }
  .mobileText {
    display: block;
  }
}
