.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  margin: 0;

  border-width: 0;
  border-radius: 5px;

  top: calc(50vh - 141.25px);

  width: 35px;
  height: 282.5px;

  background: #F0A8AA;

  cursor: pointer;

  z-index: 1000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 35px;
  height: 100%;
}

.title {
  position: relative;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25;
  font-size: 31px;
  font-weight: 700;
  word-wrap: break-word;
  /*font-size: clamp(123.5px, 19vh, 12vw);*/
  color: #fff;
}

.contactMethod {
  display: none;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;

  color: #fff;
}
.label {
  line-height: 1.75;
  font-weight: 400;
}

.link {
  color: inherit;
}

.overlay {
  display: none;
  position: fixed;

  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  background: rgba(29, 31, 32, 0.05);

  z-index: 100;
}

.containerMobile {
  display: none !important;
}

/* Mobile */
@media (max-width: 1000px) {
  .container {
    display: none !important;
  }
  .containerMobile {
    display: flex !important;
    position: fixed;

    left: 50%;
    bottom: 0;

    margin-left: calc( (310px) / -2 );
    margin-bottom: -160px;

    padding: 0;

    width: calc(310px);
    height: 200px;

    border-width: 0;
    border-radius: 5px;
    background: #F0A8AA;
    z-index: 1000;
  }
  .wrapperMobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 2px;

    width: inherit;
    height: inherit;
  }
  .title {
    height: 60px;
    font-size: 28px;
  }
  .contactMethod {
    display: block;
  }
}
