.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 30px 35px 30px 35px;

  height: calc(100vh - 60px);
  width: calc(100vw - 70px);
  max-width: 100%;

  background: #F2ECE3;

  border-radius: 2px;

  filter: blur(var(--blur));
  transition: filter 0.25s;
  transition-timing-function: ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 85vh;
  height: clamp(0px, 85vh, 55vw);
}

.topHalf {
  display: flex;
  flex-direction: row;

  text-align: left;
}

.name {
  margin-right: -23vh;
  margin-right: clamp(-13.5vw, -23vh, 5000px);

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22vh;
  font-size: clamp(0px, 22vh, 13vw);

  color: #1A535C;
}

.me {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;
}

.meContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.rectangle {
  position: relative;

  margin-bottom: -21vh;
  margin-bottom: clamp(-12.4vw, -21vh, 5000px);
  margin-right: -12vh;
  margin-right: clamp(-7.1vw, -12vh, 5000px);

  width: 37vh;
  width: clamp(0px, 37vh, 21.9vw);
  height: 25vh;
  height: clamp(0px, 25vh, 14.8vw);

  border: 0.5px solid #555;
  background: #f6f1ea;
  box-shadow: -10px 50px 20px 10px #f6f1ea;
  box-sizing: border-box;
  filter: blur(3px);

  transform: skew(0deg, 3deg);
}

.portrait {
  width: 25vh;
  width: clamp(0px, 25vh, 14.8vw);

  transform: skew(0deg, 3deg);
}

.creative {
  margin-top: 1.4vh;
  margin-top: clamp(0px, 1.4vh, 0.83vw);

  font-family: Changa;
  font-style: normal;
  font-weight: normal;
  font-size: 7vh;
  font-size: clamp(0px, 7vh, 4.14vw);

  color: #1A535C;

  transform: skew(0deg, 3deg);
}

.creative * {
  fill: #1A535C !important;
}

.bottomText1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 5.5vh;
  font-size: clamp(0px, 5.5vh, 3.3vw);
  color: #1A535C;
}

.bottomText2 {
  margin-left: 0.86vh;
  margin-left: clamp(0px, 0.86vh, 0.5vw);

  font-family: Changa;
  font-style: normal;
  font-weight: bold;
  font-size: 5.8vh;
  font-size: clamp(0px, 5.8vh, 3.4vw);
  color: #F0A8AA;
}

/* Mobile */
@media (max-width: 1000px) {
  .section {
    margin: 15px 17.5px 15px 17.5px;

    min-height: 600px;
    height: calc(100vh - 30px);
    width: calc(100vw - 35px);

    /*margin: 0;
    height: 100vh;
    width: 100vw;*/
  }
  .container {
    margin-top: -5vh;

    width: inherit;
    min-height: 550px;
    height: 85vh;

    justify-content: space-around;
  }
  .topHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: calc(100% - 30px);
    height: 85%;
  }
  .topHalf, .bottomHalf {
    padding-left: 15px;
    padding-right: 15px;
  }
  .bottomHalf {
    text-align: center;
    height: 30%;
  }
  .name {
    text-align: center;
    margin: 0;

    font-size: calc(25px + 10vw);

    transform: skew(0deg, 0deg);
  }
  .meContainer {
    position: relative;
    margin-top: 0;
  }
  .rectangle {
    margin-bottom: -120px;
    margin-right: -58.5px;

    width: 208px;
    height: 149.5px;

    border-color: #000;
  }
  .portrait {
    width: 150px;
  }
  .creative {
    text-align: center;

    width: 448.5px;
    width: calc(100vw - 45px);
    max-width: 448.5px;

    font-size: 7vh;
    font-size: clamp(0px, 7vh, calc(12.75vw - 17.5px));
  }
  .creative > path {
    fill: #000;
    background: #000;
  }
  .bottomHalf {
    position: relative;
    top: 5vh;
  }
  .bottomText1 {
    font-size: 30px;
  }
  .bottomText2 {
    font-size: 32px;
  }
}
