.text {
  position: fixed;
  top: 65px;
  right: 65px;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 32.5px;

  color: #F0A8AA;

  text-decoration: underline;

  z-index: 5000;
}

.ham {
  position: fixed;

  top: 40px;
  right: 40px;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  filter: blur(var(--blur));
  transition: filter 0.25s;
  transition-timing-function: ease-out;

  z-index: 5000;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#F0A8AA;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  //stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  background: rgba(255, 255, 255, 0.9);

  z-index: 2000;
}

/* Mobile */
@media (max-width: 1000px) {
  .ham {
    top: 17px;
    right: 20px;
  }
  .text {
    display: none;
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 27px;
  }
}
