.section {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;

  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;

  padding-bottom: calc(2vh + 50px);

  background: #1A535C;

  filter: blur(var(--blur));
  transition: filter 0.25s;
  transition-timing-function: ease-out;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 95vw;
}

.titleBackground {
  margin-top: clamp(0px, 9vh, 10vw);
  margin-bottom: clamp(0px, 7vh, 6vw);

  background: #F2ECE3;

  border-radius: 2px;

  transform: skew(-6deg, 0deg);
}

.title {
  padding-bottom: 1vh;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22vh;
  font-size: clamp(0px, 19vh, 13vw);

  color: #1A535C;
}

.project {
  display: flex;
  flex-direction: column;

  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 3vh;
}

.projectImageContainer {
  /*height: 50vh;
  max-height: 46vw;*/
  width: 97.45vh;
  max-width: 90vw;
}

.projectImage {
  border-radius: 2px;
}

.about {
  margin-top: clamp(7px, 2vh, 2vw);
  margin-bottom: clamp(-2vw, -2vh, -7px);

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;

  font-size: 8vh;
  font-size: clamp(16px, 4vh, 4.7vw);

  color: #fff;
}

.client {
  font-family: Changa;
  font-style: normal;
  font-weight: normal;

  font-size: 8vh;
  font-size: clamp(28px, 8vh, 8vw);

  line-height: 1.5;

  color: #F8E7DE;
}
